150303_Andre/colorMaps.m
*.m
*.tif
*.mat
*.docx
*.rtf
*.pdf
*.jpg
*.db
*.mexw32
*.txt
*.exe
*.prj
*.asv
*.cdr
*.psd
*.eps
*.ics
*.avi
*.cpp
*.mexw64
*.bpf
*.bpr
*.h
*.obj
*.res
*.tds
*.c
*.log
*.K
*.Y
*.aux
*.dvi
*.out
*.toc
*.tex
*.doc